<% if current_user.entries.find_by(tournament_id: tournament.id) %>
	<p class="entry-btn">
	    <%= tournament.entries.count %>
	    <span>/</span>
	    <%= tournament.maximum %>
   </p>
    <div>
    	<%= link_to tournament_entries_path(tournament), method: :delete, class:"entry-button", remote: true do %>
    	<div class="btn btn-success btn-lg">エントリー済み</div>
    	<% end %>
    </div>
   <% else %>
   <p class="entry-btn">
	    <%= tournament.entries.count %>
	    <span>/</span>
	    <%= tournament.maximum %>
   </p>
    <div>
    	<%= link_to tournament_entries_path(tournament), method: :post, class:"entry-button", remote: true do %>
    	<div class="btn btn-success btn-lg">エントリー</div>
    	<% end %>
    </div>
<% end %>