<div class="tbody">

	<h1>マイページ</h1>
	<p><%= notice %></p>

	<div class="myicon">
		<%= attachment_image_tag @user, :icon, :fill, 300, 300, fallback: "no_image.png", size:"300x300", class:"img-circle" %>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-5"><h2 class="uname"><%= @user.name %></h2></div>
			<div class="mygood">
				<h2><%= @total_good %>
				<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i></h2>
			</div>
		</div>
	</div>

	<% if @user == current_user %>

		<div class="container">
			<div class="row">
				<div col-lg-4>
					<%= link_to "プロフィール編集へ", edit_user_path, class:"btn btn-warning" %>
				</div>
				<div col-lg-4>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
				</div>
			</div>
		</div>

		<div class="wrap">

			<ul id="tab-menu" class="clearfix">
				<li><a href="#tab1" class="active">エントリー済みの大会</a></li>
				<li><a href="#tab2" class="">投稿した大会</a></li>
				<li><a href="#tab3" class="">個人チャット一覧</a></li>
			</ul>

			<div id="tab-contents" class="clearfix">

				<!-- エントリー済みの大会一覧 -->
				<div id="tab1" class="tab container">
					<% @user.entries.each do |entry| %>
						<%= link_to tournament_path(entry.tournament_id) do %>
							<div class="row entry-list">
								<div class="col-lg-6">
									<%= attachment_image_tag entry.tournament, :image, :fill, 200, 200 %>
								</div>
								<div class="col-lg-6">
									<p class="s-result"><%= entry.tournament.name %></p>
									<p class="s-result"><%= entry.tournament.title.game %></p>
									<p class="s-result"><%= simple_time(entry.tournament.date) %></p>
									<p class="s-result"><%= entry.tournament.entries.count %><span>/</span><%= entry.tournament.maximum %></p>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>

				<!-- 投稿した大会一覧 -->
				<div id="tab2" class="tab container">
					<% @user.tournaments.each do |tournament| %>
						<%= link_to tournament_path(tournament.id) do %>
						<!-- 下書きかどうかで枠線の色を変える -->
							<% if tournament.is_completed == true %>
								<div class="row post-list true-box">
									<div class="col-lg-6">
								       <%= attachment_image_tag tournament, :image, :fill, 200, 200 %>
								    </div>
								    <div class="col-lg-6">
									    <p class="s-result"><%= tournament.name %></p>
									    <p class="s-result"><%= tournament.title.game %></p>
									    <p class="s-result"><%= simple_time(tournament.date) %></p>
									    <p class="s-result"><%= tournament.entries.count %><span>/</span><%= tournament.maximum %></p>
									</div>
								</div>
							<% else %>
								<div class="row post-list false-box">
									<div class="col-lg-6">
								       <%= attachment_image_tag tournament, :image, :fill, 200, 200 %>
								    </div>
								    <div class="col-lg-6">
									    <p class="s-result"><%= tournament.name %></p>
									    <p class="s-result"><%= tournament.title.game %></p>
									    <p class="s-result"><%= simple_time(tournament.date) %></p>
									    <p class="s-result"><%= tournament.entries.count %><span>/</span><%= tournament.maximum %></p>
									</div>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>

				<!-- 自分が投稿した大会の個人チャット一覧 -->
				<div id="tab3" class="tab container">
					<% @user.tournaments.each do |tournament| %>
						<% tournament.rooms.each do |room| %>
							<%= link_to room_path(room.id) do %>
									<% room.members.each do |member| %>
										<div class="row myroom-list">
											<div class="col-lg-6">
												<%= attachment_image_tag member.user, :icon, :fill, 150, 150, fallback: "no_image.png", size:"200x200", class: "img-circle" %>
											</div>
											<div class="col-lg-6">
												<p class="s-result"><%= room.tournament.name %></p>
												<p class="s-result"><%= member.user.name %></p>
												<p class="s-result"><%= simple_time(room.updated_at) %></p>
											</div>
										</div>
									<% end %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>

	<% else %>

		<h3>投稿した大会一覧</h3>
		<!-- 投稿した大会一覧 -->
		<div class="container">
			<% @user.tournaments.where(is_completed: true).each do |tournament| %>
				<%= link_to tournament_path(tournament.id) do %>
					<div class="row">
						<div class="col-lg-3">
							<%= attachment_image_tag tournament, :image, :fill, 200, 200 %>
						</div>
						<div class="col-lg-3">
							<p class="s-result"><%= tournament.name %></p>
							<p class="s-result"><%= tournament.title.game %></p>
							<p class="s-result"><%= simple_time(tournament.date) %></p>
							<p class="s-result"><%= tournament.entries.count %><span>/</span><%= tournament.maximum %></p>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>

	<% end %>
</div>

<script>
	$('#tab-contents .tab[id != "tab1"]').hide();

	$("#tab-menu a").on("click", function(){
		$("#tab-contents .tab").hide();
		$("#tab-menu .active").removeClass("active");
		$(this).addClass("active");
		$($(this).attr("href")).show();
		return false;
	});
</script>