<div class="tbody">

  <div class="container">
    <div class="row">
      <div class="col-lg-5"><h1>大会一覧</h1></div>
        <div class="col-lg-4">
           <dl class="searchbox">
             <%= search_form_for @search, url: tournaments_search_search_path do |f| %>
               <dt><%= f.text_field :name_or_title_game_cont ,placeholder: "\uf002 大会名、ゲーム名で検索", class:"fa" %></dt>
               <dd><%= f.submit ("検索"), class:"search-btn" %></dd>
             <% end %>
           </dl>
       </div>
     </div>
   </div>

  <p id="notice"><%= notice %></p>

  <ul class="slick-box">
    <li><%= image_tag 'no-image.png', size:"500x400" %></li>
    <li><%= image_tag 'no-image.png', size:"500x400" %></li>
    <li><%= image_tag 'no-image.png', size:"500x400" %></li>
    <li><%= image_tag 'no-image.png', size:"500x400" %></li>
  </ul>

  <% @titles.each do |title| %>
    <div>
      <h3><%= title.game %></h3>
     <ul class="bxslider">
       <% title.tournaments.where(is_completed: true).each do |tournament| %>
        <%= link_to tournament_path(tournament.id) do %>
          <li>
            <div><%= attachment_image_tag tournament, :image, fallback:"no-Ludus.png", size:"200x200" %></div>
            <div><%= tournament.name %></div>
            <div><%= simple_time(tournament.date) %></div>
          </li>
        <% end %>
       <% end %>
     </ul>
    </div>
  <% end %>

</div>

<script>
  $(function(){
    $(".slick-box").slick({
      autoplay:true,
      accessibility:false,
      adaptiveHeight:true,
      arrows:false,
      fade:true,
    });
  });
</script>
