<h2>検索結果</h2>

<dl class="searchbox">
  <%= search_form_for @search, url: tournaments_search_path do |f| %>
    <dt><%= f.text_field :name_or_title_game_cont ,placeholder: "大会名、ゲーム名で検索" %></dt>
    <dd><%= f.submit ("検索"), class="search-btn" %></dd>
  <% end %>
</dl>

<% @search_tournaments.each do |tournament| %>
	<div>
		<div>
			<%= attachment_image_tag tournament :image, :fill, 200, 200 %>
		</div>
		<p><%= tournament.name %></p>
		<p><%= tournament.title.game %></p>
		<p><%= tournament.date %></p>
		<p><%= tournament.entries.count %><span>/</span><%= tournament.maximum %></p>
	</div>
<% end %>