<h2>検索結果</h2>

<dl class="searchbox">
  <%= search_form_for @search, url: tournaments_search_path do |f| %>
    <dt><%= f.text_field :name_or_title_game_cont ,placeholder: "\uf002 大会名、ゲーム名で検索", class:"fa" %></dt>
    <dd><%= f.submit ("検索"), class:"search-btn" %></dd>
  <% end %>
</dl>

<% @search_tournaments.each do |tournament| %>
	<div>
		<div>
			<%= attachment_image_tag tournament :image, :fill, 200, 200 %>
		</div>
		<p class="s-result"><%= tournament.name %></p>
		<p class="s-result"><%= tournament.title.game %></p>
		<p class="s-result"><%= simple_time(tournament.date) %></p>
		<p class="s-result"><%= tournament.entries.count %><span>/</span><%= tournament.maximum %></p>
	</div>
<% end %>