<div class="tbody">

<p id="notice"><%= notice %></p>

 <%= attachment_image_tag @tournament, :image, :fill, 600, 400 %>

 <div class="entry_box">
   <p>エントリー人数</p>
   <p>
    <%= @tournament.entries.count %>
    <span>/</span>
    <%= @tournament.maximum %>
   </p>

   <!-- エントリーしていないならエントリーボタン、しているなら削除ボタンを設置 -->
   <%= render "entries/entry", {tournament: @tournament} %>
 </div>

 <div class="room_box d_room_box">
   <% if @tournament.members.where(user_id: current_user.id).exists? %>
    <%= link_to "開催者とチャット", room_path(@d_room.id), class:"btn btn-info" %>
   <% else %>
    <%= form_for Room.new, url:rooms_path do |f| %>
    <%= f.hidden_field :tournament_id, value:@tournament.id %>
    <%= f.submit "開催者とチャット", class:"btn btn-info" %>
    <% end %>
   <% end %>
 </div>

 <div class="room_box open_room_box">
   <%= link_to "グループチャット", room_path(@open_room.id), class:"btn btn-warning" %>
 </div>

 <h2><%= @tournament.name %></h2>


  <h3><%= @tournament.title.game %></h3>

<p>
  <strong>開催予定日時:</strong>
  <%= simple_time(@tournament.date) %>
</p>

<p>
  <strong>上限人数:</strong>
  <%= @tournament.maximum %>
  <span>人</span>
</p>

<p>
  <strong>Address:</strong>
  <%= @tournament.address %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @tournament.detail %>
</p>

<p>
  <strong>User:</strong>
  <%= @tournament.user_id %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @tournament.is_deleted %>
</p>

<p>
  <strong>Is completed:</strong>
  <%= @tournament.is_completed %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
</div>