<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= attachment_image_tag @tournament, :image %>
</p>

<p>
  <strong>Game:</strong>
  <%= @tournament.title.game %>
</p>

<p>
  <strong>Date:</strong>
  <%= simple_time(@tournament.date) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @tournament.address %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @tournament.detail %>
</p>

<p>
  <strong>User:</strong>
  <%= @tournament.user_id %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @tournament.is_deleted %>
</p>

<p>
  <strong>Is completed:</strong>
  <%= @tournament.is_completed %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
