<% if user_signed_in? %>
	<% if @tournament.user_id == current_user.id %>

		<div class="room-list">
			<h4>チャットルーム一覧</h4>
			<div class="rlist-contents">
				<%= link_to room_path(@open_room) do %>
					<div>
						<%= attachment_image_tag @tournament, :image, size:"40x40", fallback:"/images/no-Ludus2.png", class:"img-circle room-link" %>
						<span class="room-link"><%= @tournament.name %>のグループチャットルーム</span>
					</div>
				<% end %>
			</div>
			<% @tournament.members.each do |member| %>
				<div class="rlist-contents">
					<%= link_to room_path(member.room) do %>
						<div>
							<% if member.is_google == false %>
								<%= attachment_image_tag member.user, :icon, fallback:"/images/no_image.png", size:"40x40", class:"img-circle room-link" %>
							<% else %>
								<img src="<%= member.user.icon_id %>" class="img-circle" width="40" height="40">
							<% end %>
							<span class="room-link"><%= member.user.name %></span>

						</div>
					<% end %>
				</div>
			<% end %>
		</div>

	<% end %>
<% end %>

<div class="rbody">

	<% if @room.is_opened == true %>
		<h1><%= @room.tournament.name %>のグループチャットルーム</h1>
	<% elsif @room.tournament.user_id == current_user.id %>
		<h1><%= @room.tournament.name %></h1>
		<% @room.members.each do |member| %>
			<h3><%= member.user.name %>さんとのチャットルーム</h3>
		<% end %>
	<% else %>
		<h1><%= @room.tournament.name %></h1>
		<h3><%= @room.tournament.user.name %>さんとのチャットルーム</h3>
	<% end %>

	<% if user_signed_in? %>
	<div class="chat-form">
		<%= label nil, nil, 'チャットを入力してください' %>
		<%= text_field nil, nil, 'data-behavior': 'room_speaker', class:"c-form" %>
	</div>
	<% else %>
		<p>ログインするとチャットが打てるようになります</p>
	<% end %>

	<div id="messages" data-room_id="<%= @room.id %>">
	</div>

	<div class="jscroll">
		<%= render "messages/list", messages: @messages %>
	</div>

</div>

<script>
	$(window).on('scroll', function(){
		scrollHeight = $(document).height();
		scrollPosition = $(window).height() + $(window).scrollTop();
		if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
				$('.jscroll').jscroll({
					contentSelector: '.jscroll',
					nextSelector: 'span.next a'
				});
		}
	});
</script>