<% if @tournament.user_id == current_user.id %>

	<div class="room-list">
		<h4>チャットルーム一覧</h4>
		<div class="rlist-contents">
			<%= link_to room_path(@open_room) do %>
				<div>
					<%= attachment_image_tag @tournament, :image, size:"40x40", class:"img-circle room-link" %>
					<span class="room-link"><%= @tournament.name %>のグループチャットルーム</span>
					<% end %>
				</div>
		</div>
		<% @tournament.members.each do |member| %>
			<div class="rlist-contents">
				<%= link_to room_path(member.room) do %>
					<div>
						<%= attachment_image_tag member.user, :icon, fallback:"no_image.png", size:"40x40", class:"img-circle room-link" %>
						<span class="room-link"><%= member.user.name %></span>
						<% end %>
					</div>
			</div>
		<% end %>
	</div>

<% end %>

<div class="rbody">

	<% if @room.is_opened == true %>
		<h1><%= @room.tournament.name %>のグループチャットルーム</h1>
	<% elsif @room.tournament.user_id == current_user.id %>
		<h1><%= @room.tournament.name %></h1>
		<% @room.members.each do |member| %>
			<h3><%= member.user.name %>さんとのチャットルーム</h3>
		<% end %>
	<% else %>
		<h1><%= @room.tournament.name %></h1>
		<h3><%= @room.tournament.user.name %>さんとのチャットルーム</h3>
	<% end %>

	<div id="messages" data-room_id="<%= @room.id %>">
		<% myid = current_user.id %>
		<%= render  @messages, myid: myid %>
	</div>

	<div class="chat-form">
		<%= label nil, nil, 'チャットを入力してください' %>
		<%= text_field nil, nil, 'data-behavior': 'room_speaker', class:"c-form" %>
	</div>

</div>