<!DOCTYPE html>
<html>
  <head>
    <title>Ludus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="logo"></div>
      </nav>
      <ul>
        <% if user_signed_in? %>
          <li>
            <% user_icon %><%= attachment_image_tag @user, :icon, fallback: "no_image.png", size:"60x60" %>
          </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
